doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title pageTitle
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="css/main.css")
    script(src="js/vendor/modernizr-2.8.3.min.js")
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
    script(src="https://code.jquery.com/jquery-1.12.0.min.js")
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
    script(src="js/src/main.js")
    //Google Analytics: change UA-XXXXX-X to be your site's ID.
